<!DOCTYPE html>
html(lang="es" dir="ltr")
  head
    include ./partials/header
  body.login
    .contenedor-formulario
      h1= title

      if errors
        each error in errors
          p.alerta.error= error
        
      form#formulario.caja.caja-login(action="/user/createAccount" method="POST")
        .campo
          label(for="email") E-mail:
          input(type="email" name="email" placeholder="Email" value= email)
        .campo
          label(for="password") Password:
          input(type="password", name="password" placeholder="password" value= password)
        .campo.enviar
          input.boton(type="submit" value="Crear Cuenta")
        .campo
          a(href="/user/signIn") Volver a Iniciar Sesión