extends ./layout/main
include ./mixins/formProject

block contenido
  .contenido-principal
    h1= title

     pre= vardump(projectOne)

    if errors
      each error in errors
        .alerta.error= error.texto
    +formProject(projectOne)