<!DOCTYPE html>
html(lang="es" dir="ltr")
  head
    include ./partials/header
  body.login
    .contenedor-formulario
      h1= title

      if errors
        each error in errors
          p.alerta.error= error
          
      p Ingresar Correo Eléctronico:
      form.caja-login(method="POST" action="/user/tokenGenerate")
        .campo
          label(for="email") E-mail:
          input(type="email" name="email" placeholder="Correo Electronico")
        .campo.enviar
          input.boton(type="submit", value="Reestablecer Contraseña")
        .campo.acciones
          a(href="/user/signIn") Iniciar Sesión Nuevamente