<!DOCTYPE html>
html(lang="es" dir="ltr")
  head
    include ./partials/header
  body.login
    .contenedor-formulario
      h1= title

      if errors
        each error in errors
          p= error

      p Nueva Constrase単a:
      form.caja-login(method="POST")
        .campo
          label(for="password") Nueva Contrase単a:
          input(type="password" name="password" placeholder="Nueva Contrase単a")
        .campo.enviar
          input.boton(type="submit", value="Reestablecer Constrase単a")