<!DOCTYPE html>
html(lang="es" dir='ltr')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include ./email.css
    
  body
    h2 Confirmar Cuenta UpTask
    p Confirma Cuenta UpTask Presionando El Siguiente Boton
    a(href=`${accountConfirmUrl}`) Confirmar Cuenta
    p este enlace es temporal, debes solicitar uno nuevo si se cumple el tiempo de expiración en el link inferior
    a(href=`${accountConfirmUrl}`) click aquí
    p Si no solicitaste este email, puedes ignorarlo.