//- mixin createProject(project)  
//-   form.agregar-proyecto(action=`/newProject` method="POST")
//-         .campo
//-           label(for="name") Nombre Proyecto:
//-           input(type="text" id="name" name="nameProject" placeholder="Nombre Proyecto")
//-         .campo-enviar
//-           input(type="submit" value="nom" class="boton")