<!DOCTYPE html>
html(lang="es" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="This a interactive page with Template Engine PUG")
    meta(name="author" content="Daniel Ferando Yepez Velez")
    meta(name="keywords" content="HTML5, CSS3, JavaScript, Template Engine")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UpTask Project
    link(rel="stylesheet", type="text/css" href="css/normalize.css")
    link(rel="stylesheet", type="text/css" href="css/app.css")
  body
    header.barra
      h1 UpTask - Administrador De Proyectos
      a(href="#") Cerrar Sesión

    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/new-project" class="boton") Crear Proyecto
            span +
        .panel.lista-proyectos
          h2 Poyectos
          ul#proyectos.proyectos
            if(projectsAll.length)
              each project in projectsAll
                li
                  a(href=`/${project.url}`)= project.nameProject
      block contenido
        .contenido-principal
          h1= title
        pre= vardump(projectsAll)