<!DOCTYPE html>
html(lang="es" dir="ltr")
  head
    include ../partials/header
  body
    header.barra
      h1 UpTask - Administrador De Proyectos
      a(href="/user/signOut") Cerrar Sesión

    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/project/newProject" class="boton") Crear Proyecto
            span +
        .panel.lista-proyectos
          h2 Poyectos
          ul#proyectos.proyectos
            if(projectsAll.length)
              each project in projectsAll
                li
                  a(href=`/project/${project.url}`)= project.nameProject
      block contenido
        .contenido-principal
          h1= title        
    script(src="/dist/bundle.js")